<div class="container">
    <h3>Education Details</h3>
    <form [formGroup]="educationform"(ngSubmit)="Submit(educationform)">
     <div class="form">
         <label>College Name</label>
         <input type="text" formControlName="collegename"/><br>
         <div *ngIf="educationform.controls['collegename'].hasError('required')" style="color: red;">Fields required</div><br>
     </div>
     <div class="form">
         <label>Year of Completion</label>
         <input type="text" formControlName="yearofcompletion"/><br>
         <div *ngIf="educationform.controls['yearofcompletion'].hasError('required')" style="color: red;">Fields required</div><br>
     </div>
     <div class="form">
         <label>CGPA</label>
         <input type="text" formControlName="cgpa"/><br>
         <div *ngIf="educationform.controls['cgpa'].hasError('required')" style="color: red;">Fields required</div><br>
     </div>
     <div class="form">
         <button type="submit">Next</button> 
         
     </div>
    </form>
</div>
