<!-- <p>address works!</p> -->
<div class="container">
    <h3>Address Details</h3>
    <form [formGroup]="addressform" (ngSubmit)="Submit()">

<div class="form">
    <label><b>Address</b></label>
   <textarea rows="5" cols="25" formControlName="addressline1"></textarea>
    <div *ngIf="addressform.controls['addressline1'].hasError('required')" style="color: red;">Fields required </div><br>
</div>
<div class="form">
    <label><b>City</b></label>
    <select formControlName="city" id="city">      
<option value="chennai">Chennai</option>
<option value="trichy">Trichy</option>
<option value="coimbatore">Coimbatore</option>
<option value="madurai">Madurai</option>
</select>
<div *ngIf="addressform.controls['city'].hasError('required')" style="color: red;">Fields required</div>
</div>
<div class="form">
    <button type="submit">Submit</button>
</div>
</form>
</div>