<div class="container" *ngIf="reg">
    <form   [formGroup]="myform" (ngSubmit)="onSubmit(myform)" >
    <div class="header">
        <h1><b>REGISTRATION</b></h1>
    </div>
        <div class="form">
      
        <label ><b>First Name</b></label>
        <input type="text"  formControlName="firstname" placeholder="First Name"><br>
    <div *ngIf="myform.controls['firstname'].hasError('required')"  style="color: red;">Fields required</div><br>
    </div>
     <div class="form">
        <label><b>Last Name</b></label>
        <input type="text" formControlName="lastname" placeholder="Last Name"><br>
   <div *ngIf="myform.controls['lastname'].hasError('required')" style="color: red;">Fields required</div><br>
    </div>
    <div class="form">
        <label for="email"><b>Email</b></label>
        <input type="email"  class="mail" formControlName="email" id="email" placeholder="Email" ><br>
        <div *ngIf="myform.controls['email'].hasError('required')" style="color: red;">Fields required</div><br>
    </div>
     <div class="form">
        <label for="password"><b>Password</b></label>
        <input type="password" formControlName="password" placeholder="Password"><br>
        <div *ngIf="myform.controls['password'].hasError('required')" style="color: red;">Fields required</div>
        <div *ngIf="myform.controls['password'].hasError('minlength')" style="color: red;">enter atleast 8 characters</div><br>  
    </div>
     <!-- <div class="form">
        <label for="Cpassword"><b>Confirm Password</b></label>
        <input type="password" formControlName="cpassword" placeholder="Password"><br><br>
        <div *ngIf="myform.controls['Cpassword'].hasError('required')" style="color: red;">Fields required</div>
    </div>     -->
     <div class="form">
        <label for="DOB"><b>Date of Birth</b></label>
        <input type="date"  class="dateofbirth" formControlName="dob" id="dob"/><br>
        <div *ngIf="myform.controls['dob'].hasError('required')" style="color: red;">Fields required</div><br>
    </div>
     <div class="form">
        <label for="phonenumber"><b>Phone number</b></label>
        <input type="tel" formControlName="phoneno" placeholder="Phone number" required><br>
         <div *ngIf="myform.controls['phoneno'].hasError('required')" style="color: red;">Fields required</div>
         <div *ngIf="myform.controls['phoneno'].hasError('pattern')" style="color: red;">Enter valid phone number</div><br>
            </div>
     <div class="form">
        <label for="height"><b>Height</b></label>
        <input type="text" formControlName="height" placeholder="Please write your height in cm" /><br>
        <div *ngIf="myform.controls['height'].hasError('required')" style="color: red;">Fields required</div><br>
    </div>
     <div class="form">
        <label for="weight"><b>Weight</b></label>
        <input type="text" formControlName="weight" placeholder="Please write your weight in kgs"/><br>
        <div *ngIf="myform.controls['weight'].hasError('required')" style="color: red;">Fields required</div><br>  
     </div>
      <div class="form">   
        <label><b>Gender</b></label>
        <input type="radio"   class="gen1"  formControlName="gender" id="gender1" name="gender" value="male">Male
        <input type="radio"  class="gen2" formControlName="gender" id="gender2"name="gender" value="female">Female<br><br>
        <div *ngIf="myform.controls['gender'].hasError('required')" style="color: red;">Fields required</div>
    </div>   
    <div class="form"> 
        <button type="submit" value="submit" >Register</button>
    </div>
    </form>
</div>
<div *ngIf="edu">
<app-education [userValue]="userdetails" (sendValue)="getDetails($event)"></app-education>
</div>
 <div *ngIf="adrs">
<app-address [finalValue]="userdetails" (addrs)="getFinalValue($event)" ></app-address>
</div>  
    <div class="container" *ngIf="details">
        <div class="form"><b>Your Details are Successfully registered</b></div>
        <div class="form">
            <label><b>FirstName:</b></label>{{userdetails.firstname}}
        </div>
        <div class="form">
            <label><b>LastName:</b></label>{{userdetails.lastname}}
        </div>
        <div class="form">
            <label><b>Email:</b></label>{{userdetails.email}}
        </div>
        <div class="form">
            <label><b>DOB:</b></label>{{userdetails.dob}}
        </div>
        <div class="form">
            <label><b>Phone Number:</b></label>{{userdetails.phoneno}}
        </div>
        <div class="form">
            <label><b>Gender:</b></label>{{userdetails.gender}}
        </div>
        <div class="form">
            <label>College Name:</label>{{userdetails.child.collegename}}
        </div>
        <div class="form">
            <label><b>Year Of Completion:</b></label>{{userdetails.child.yearofcompletion}}
        </div>
        <div class="form">
            <label><b>CGPA:</b></label>{{userdetails.child.cgpa}}
        </div>
    </div>
